* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(drum-wallpaper.jpg);
  background-size: cover;
}
#main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.individual-key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 6rem;
  height: 6rem;

  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: white;
  opacity: 80%;
}
