* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(drum-wallpaper.jpg);
  background-size: cover;
}
#main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.individual-key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 6rem;
  height: 6rem;
  text-align: center;

  background-color: white;
  box-shadow: 0 10px black;
  opacity: 75%;
  border-radius: 1rem;
}
.key-name {
  font-size: 2rem;
  font-weight: 500;
}
.key-notation {
  font-size: 1.2rem;
}
.playing {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 10px white;
  scale: 1.1;
  text-transform: uppercase;
}
